mkdocs
mkdocs-material
mkdocs-macros-plugin
click
mergedeep
pyyaml
pyyaml_env_tag
jinja2
markupsafe
pathspec
markdown
pymdown-extensions
backrefs
python-dateutil
six
super-collections
hjson
packaging
termcolor
requests
urllib3
idna
certifi
colorama
beautifulsoup4
typing-extensions
mdurl
markdownify
mdformat
markdown-it-py
tomli
mkdocs-llmstxt
html5lib
cairocffi
cairosvg
defusedxml
weasyprint
cssselect2
webencodings
tinycss2
tinyhtml5
cffi
pycparser
pyphen
fontTools
pydyf
pillow
libsass
soupsieve
importlib-metadata
mkdocs-to-pdf
mkdocs-git-revision-date-localized-plugin
babel
GitPython
gitdb
smmap
watchdog

